<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated college -->
      <package
            uri="https://edu/ustb/lesley/college"
            class="college.CollegePackage"
            genModel="model/college.genmodel"/>
   </extension>

</plugin>
